*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/.vs/THEgame/config/applicationhost.config
/.vs/THEgame/config/applicationhost.config
/.vs/THEgame/v16/.suo
/.vs/THEgame/v16/Server/sqlite3/storage.ide-shm
/.vs/THEgame/v16/Server/sqlite3/storage.ide-wal
/THEgame/bin
