*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/.vs
/THEgame/obj/Release/netcoreapp3.1/THEgame.assets.cache
/THEgame/obj/Release/netcoreapp3.1/THEgame.csprojAssemblyReference.cache
/.vs/THEgame/config/applicationhost.config
/.vs/THEgame/v16/.suo
/.vs/THEgame/config/applicationhost.config
/.vs/THEgame/v16/.suo
