@model THEgame.ViewModels.LoginModel
@{
    Layout = "_LayoutLogin";
} 
<div class="logoncontainer">
<h2>Вход на сайт</h2>
<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Name">Логин</label>
            <input type="text" asp-for="Name" class="form-control-sm" />
            <span asp-validation-for="Name" />
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" class="form-control-sm" />
            <span asp-validation-for="Password" />
        </div>
        <hr />
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
</div>