@model THEgame.ViewModels.RegisterModel
 
<div class="logoncontainer">
 
<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <div>
            <label asp-for="Name">Введите логин</label><br />
            <input type="text" asp-for="Name" class="form-control-lg" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label asp-for="Password">Введите пароль</label><br />
            <input asp-for="Password" class="form-control-lg" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Повторите пароль</label><br />
            <input asp-for="ConfirmPassword" class="form-control-lg" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div style="margin-top:5px;">
            <input type="submit" class="btn btn-outline-dark" value="Регистрация" />
        </div>
    </div>
</form>

</div>