@model IndexModel
<blockquote class="blockquote text-center">
    <p class="mb-1">@Model.HeaderText</p>
    <br />
    <footer class="blockquote-footer">Моршу <cite title="Source Title">Тот Самый</cite></footer>
</blockquote>

<div class="solflex">
    @Html.Partial("SolutionV")
    @Html.Partial("SolutionA")        
</div>
