<div class="rulesflex">
    <ul class="rules">
        <li>никому не рассказывать о Бойцовском клубе</li>
        <li>никогда никому не рассказывать о Бойцовском клубе</li>
        <li>в схватке участвуют только двое</li>
        <li>не более одного поединка за один раз</li>
        <li>бойцы сражаются без обуви и голые по пояс</li>
        <li>поединок продолжается столько, сколько потребуется</li>
    </ul>
    </div>