@{
    ViewData["Title"] = "Добро пожаловать в Weedgrowing!";
}
<div class="rulesflex">
    <h2>Создание персонажа</h2>
    <ul class="rules">
        <li>Создайте свой личный аккаунт (логин | пароль)</li>
        <li>Авторизируйтесь на сайте игры.</li>
        <li>Создайте персонажа, нажав на иконку линка.</li>
        <li>Выберите "Основные параметры" Вашего персонажа.</li>
        <li>
            Такие параметры, как "Пол персонажа" , "Речь персонажа" и "Раса" будут
            положительно или негативно сказываться как на выборе характеристик так и
            на весь игровой процесс в целом!
        </li>
        <li>
            Распределите очки характеристик в поле "Характеристики"
            (Влияет на стартовые навыки/репутацию/выбор специализации)
        </li>
        <li>Выберите стартовые навыки в поле "Навыки"</li>
        <li>Сохраните Ваши изменения!</li>
        <li>Перейдите в стартовую локацию (кнопка "В локацию")</li>
    </ul>
    <h4>Weedgrowing - это "будет" большой мир, который вы создадите сами!</h4>

    <h3>Торговля</h3>

    <h4>Валюта:</h4>
    <div>
        Изначально в игре нет денег (совсем)
        -Как же тут что-либо покупать или продавать? - спросите Вы
    </div>
    <ul class="rules">
        <li>Бартер система</li>
        <li>
            Кузнецы могут выковать 4 типа монет - "Золотая", "Серебряная", "Бронзовая", "Фальшивая".
            Для первых трех типов Вам понадобятся золотая, серебряная и бронзовая руда соответственно.
        </li>

        Здесь нет монстров, которые съели мешок золота и ждут когда вы придете за ними! (или есть?)

        -Я что должен все делать сам что-ли?
        -Да, на это и расчитана игра!
    </ul>
    <div class="rulesimg">
    </div>
</div>