@{  
    ViewData["Title"] = "Никому и никогда!";
 }
<div class="rulesflex">
    <ul class="rules">
        <li>Никому не рассказывать о Бойцовском клубе</li>
        <li>Никогда никому не рассказывать о Бойцовском клубе</li>
        <li>В схватке участвуют только двое</li>
        <li>Не более одного поединка за один раз</li>
        <li>Бойцы сражаются без обуви и голые по пояс</li>
        <li>Поединок продолжается столько, сколько потребуется</li>
    </ul>
    <div class="rulesimg">
    </div>
    </div>