@model IndexModel
<div class="codetext">
    <button class="btn btn-dark">Андрей</button><button class="btn btn-danger">питух</button><button class="btn btn-warning">хи хи хи</button>
    <div class="alert-warning">ЗДАРОВА</div>
    <button id="boob" class="btn btn-outline-dark" >Нажми на меня</button>
</div>