@model IndexModel
<style>
    input[type="email"] {
        width: 30px;
        height: 30px;
    }
</style>
<div style="margin-left: 10px; font-size: 22px;">
    <h4 class="display-4 border-bottom">Special</h4>
    <form class="row mb-lg-n5">
        <div class="col-auto">
            <input type="text" readonly class="form-control-plaintext" id="stat0" value="Strength">
        </div>        
        <div class="col-auto">
            <input type="email" class="form-control-sm" />
        </div>
        <div class="col-auto">
            <input type="text" readonly class="form-control-plaintext" id="stat1" value="Perception">
        </div>
        <div class="col-auto">
            <input type="email" class="form-control-sm" />
        </div>
        <div class="col-auto">
            <input type="text" readonly class="form-control-plaintext" id="stat1" value="Endurance">
        </div>
        <div class="col-auto">
            <input type="email" class="form-control-sm" />
        </div>
        <div class="col-auto">
            <input type="text" readonly class="form-control-plaintext" id="stat1" value="Charisma">
        </div>
        <div class="col-auto">
            <input type="email" class="form-control-sm" />
        </div>
        <div class="col-auto">
            <input type="text" readonly class="form-control-plaintext" id="stat1" value="Intelligence">
        </div>
        <div class="col-auto">
            <input type="email" class="form-control-sm" />
        </div>
        <div class="col-auto">
            <input type="text" readonly class="form-control-plaintext" id="stat1" value="Agility">
        </div>
        <div class="col-auto">
            <input type="email" class="form-control-sm" />
        </div>
        <div class="col-auto">
            <input type="text" readonly class="form-control-plaintext" id="stat1" value="Luck">
        </div>
        <div class="col-auto">
            <input type="email" class="form-control-sm" />
        </div>
    </form>
</div>