@model IndexModel
<div class="codetext">
    <button class="btn-dark">Андрей</button><button class="btn-danger">питух</button><button class="btn-warning">хи хи хи</button>
</div>
<script>
    $("button").button();
</script>