
﻿<div class="codetext">
                model.modelV = new SolutionVModel();

            model.modelV.numbers = new List<code><int></code>() { 36, 11, 20 };
            model.modelV.a = 0;            
            model.modelV.c = 0;

            for (int i = 0; i < 3; i++) {
                if (model.modelV.numbers[i] > model.modelV.a)
                {
                    model.modelV.a = model.modelV.numbers[i];
                }
            }

            model.modelV.b = model.modelV.a;
            for (int i = 0; i < 3; i++)
            {
                if (model.modelV.numbers[i] < model.modelV.b)
                {
                    model.modelV.b = model.modelV.numbers[i];
                }
            }
            model.modelV.c = model.modelV.a - model.modelV.b;

            return model.modelV;
    </div>﻿
<div class="codetext">Andrey was a great creator of this book</div>
