@model IndexModel
<div class="codetext">
    <img src="https://i.pinimg.com/originals/9a/a2/6a/9aa26a185905ed03cf9f10c435e7d95e.jpg" />
    <div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Lamp Oil
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Rope
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Bombs
            </label>
        </div>
        <div class="border-top">Пол персонажа:</div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Мужской
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Женский
            </label>
        </div>
        <div class="border-top">Класс персонажа:</div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefaultt" id="flexRadioDefaultt1">
            <label class="form-check-label" for="flexRadioDefaultt1">
                Воин
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefaultt" id="flexRadioDefaultt2" checked>
            <label class="form-check-label" for="flexRadioDefaultt2">
                Волшебник
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefaultt" id="flexRadioDefaultt3" checked>
            <label class="form-check-label" for="flexRadioDefaultt3">
                (сбросьте карту, чтобы подрезать на 2 урона)
            </label>
        </div>
        <div class="border-top">Уровень сложности:</div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Хардкор</label>
        </div>
    </div>
</div>