@using THEgame.Models.Solutions
@model Solution0Model
<div class="dashboard">
    <div>Сегодня счастливое число это - @Model.RandNumber</div>
    <div>А боженька всея руси это - @Model.Imodel.modelA.BufferedString</div>
</div>