a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.nav-item:hover {
    background-color: rgba(252, 236, 236, 0.67);
    border-radius: 100px;
    font-size: 105%;
}
.container {
    opacity: 0.9;
    z-index: 1;
    max-height: 40px;
}
.containerbody {
    z-index: 1;
    min-height: 600px;
    margin: 0 20%;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    margin-bottom: 1.2%;
}

.codetext {
    display: flex;
    align-items: stretch;
    padding: 10px;
    text-shadow: white 0 0 2px;
    margin: 3px;
    max-height: 550px;
    text-align: left;
    color: #0e5135;
    font-size: 15px;
    font-weight:bold;
}
    .codetext input {
        color: #0e5135;
    }

.solflex {
    display: flex;
    flex-wrap: nowrap;
}

.solans {
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    background-color: wheat;
    text-align: center;
    font-size: 50px;
    margin-left: 18%;
}
.rulesflex {
    display: flex;
    max-height: 400px;
}
.rules {
    list-style: decimal-leading-zero;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 20px;
    display: block;
    min-width: 50%;
}
.rulesimg {
    min-width: 50%;
    min-height: 400px;
}
    .rulesimg::after {
        content: "";
        background: url(https://cdna.artstation.com/p/assets/images/images/019/149/832/large/the-commas-fight-club-watercolor.jpg?1562224547) 45% 49%;
        opacity: 0.2;
        top: 0px;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
.logoncontainer {
    margin: auto;
    text-align: left;
    font-size: 20px;
}
.dashboard {
    display: flex;
    padding: 10px;
}
    .dashboard div {
        border: 1px groove gray;
        margin: 3px;
        min-height: 250px;
        border-radius: 10px;
        box-shadow: gray -1px 1px;
        background: url(https://sun9-41.userapi.com/impf/gE2A6XRPTXTx9ZEA74LIxp1fyO4RvwAx6-MwFA/Umk0ARhUm2s.jpg?size=320x320&quality=96&proxy=1&sign=8ed19b56ed7805c46d36e20a03ad11de&type=album);
        font-size: 30px;
        font-weight: bold;
        padding: 10px;
        text-shadow: white 0 0 2px;
    }
.imgtopmenu {
    min-width: 45px;
}
.linkimg {
    max-width: 50%;
    max-height: 500px;
    position: absolute;
    right: 80%;
    opacity: 0.7;
    z-index: -1;
}
.gender {
    padding: 5px;
}
.locationcanvas {
    display: flex;
    min-height: 800px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.canvasimg {
    max-width: 77.75%;
    max-height: 50%;
    border: 5px groove brown;
}
.canvasbuttons {
    text-decoration: none;
    display: block;
    min-width: 22.25%;
    max-height: 65px;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-shadow: black 0 0 1px;
}
.canvaslog {
    min-height: 55%;
    border: 5px groove brown;
}
.canvasppl {    
    font-size: 15px;
    font-weight: bold;
    text-shadow: white 0 0 2px;
    min-height: 30%;
    border: 5px groove brown;
}
    .canvasppl ul {
        padding-left: 15%;
    }
    .canvasppl li {
        padding: 0;
        list-style: none;
    }

.canvasright {
    min-width: 22.25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 3px;
}
.namebtn {
    width: 10px;
    height: 10px;
}
.titlesol {
    height: 43px;
    position: absolute;
    top: 1%;
    left: 45%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 1px 1px black;
}
.formsol {
    resize: none;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    min-width: 99%;
    margin-left: 0.5%;
}
.textsol {
    resize: none;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    min-width: 99%;
    margin-left: 0.5%;
}
.classicon {
    cursor: pointer;
}
